body {
  display: flex;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/36/10/06/3610062ed612bf558fc08ed252fe6241.jpg');
  justify-content: center;
  align-content: center;
  font-size: 36px;
  font-family: 'Permanent Marker', cursive;
}
